@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:600");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  margin: 0;
  padding: 0; }

#navbar {
  background: white; }
  #navbar a {
    color: black;
    font-family: "Cormorant Garamond", serif;
    border-radius: 1px !important; }

#banner {
  width: 100% !important; }
  #banner .card-panel {
    height: 400px !important;
    margin-left: -15px !important;
    margin-right: -10px !important;
    margin-top: -1px !important;
    background-image: url("img2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    #banner .card-panel #intro {
      width: 100%;
      margin-top: 8%;
      margin-bottom: 10%;
      text-align: center;
      color: black;
      font-family: "Playfair Display SC", serif;
      font-size: 1.5rem; }
      #banner .card-panel #intro h1 {
        margin: 0;
        font-size: 6.5rem;
        color: #e7e71a;
        font-family: "Playfair Display SC", serif; }
      #banner .card-panel #intro h3 {
        margin: 0;
        font-size: 2.5rem;
        font-family: "Playfair Display SC", serif; }
      #banner .card-panel #intro p {
        font-size: 1.3rem;
        font-family: "Cormorant Garamond", serif; }

#spec h1 {
  text-align: center;
  font-size: 2.7em;
  font-family: "Cormorant Garamond", serif; }

.section #card :hover {
  background: #e7e71a;
  transition: .7s; }
.section .card-panel {
  text-align: left;
  height: 300px; }
  .section .card-panel h1 {
    margin-top: 1px !important; }
  .section .card-panel h5 {
    margin-top: 40px !important;
    font-family: "Cormorant Garamond", serif; }
  .section .card-panel p {
    line-height: 27px;
    font-family: "Cormorant Garamond", serif; }

#whyMe {
  width: 100% !important; }
  #whyMe .card-panel {
    height: 400px !important;
    margin-left: -15px !important;
    margin-right: -10px !important;
    background-color: #eaf6ff; }
  #whyMe #hire h1 {
    font-size: 2.2rem !important;
    font-family: "Playfair Display SC", serif; }
  #whyMe #hire a {
    color: black !important;
    background-color: #e7e71a;
    font-family: "Cormorant Garamond", serif; }

#whyMe {
  margin-top: -20px !important; }
  #whyMe .hire {
    display: flex; }
    #whyMe .hire #hire {
      flex: 1;
      margin-left: 70px;
      margin-top: 80px; }
    #whyMe .hire #whyMe2 {
      flex: 1;
      margin: auto;
      text-align: center; }
      #whyMe .hire #whyMe2 h1 {
        font-family: "Playfair Display SC", serif;
        font-size: 2.2rem;
        margin-top: 70px; }
      #whyMe .hire #whyMe2 p {
        line-height: 27px; }

#photo {
  margin-top: 70px;
  margin-left: 5%;
  margin-bottom: 22px;
  font-family: "Playfair Display SC", serif;
  font-size: 2rem; }

.caption h2 {
  margin-top: 140px !important;
  font-family: "Open Sans", sans-serif; }

.footer, .page-footer {
  margin-top: -35px !important;
  background-color: #1d2124 !important; }

.footer-copyright {
  background: #191e20 !important; }

/* Media Quaries*/
@media (max-width: 345px) {
  #intro h1 {
    font-size: 5.5rem !important; } }
@media (max-width: 500px) {
  h2 {
    font-size: 2rem !important; } }
@media (max-width: 845px) {
  #whyMe .card-panel {
    overflow: visible;
    text-overflow: ellipsis;
    height: 450px !important; }
  #whyMe .hire {
    display: block; }
    #whyMe .hire #hire {
      margin-top: 10px;
      margin-right: 30px;
      justify-content: center;
      align-items: center;
      text-align: center; }
    #whyMe .hire #whyMe2 {
      margin-top: 8px;
      justify-content: center;
      align-items: center;
      text-align: center; }
      #whyMe .hire #whyMe2 h1 {
        margin-top: 50px; } }

/*# sourceMappingURL=index.css.map */
